$color-background:#030303;
$color-light:#ffffff;
$color-red: #710707;
$color-brown:#9D8665;
$color-icons-border:#666666;
$color-navigation-icon-active:#D2B183;
$color-text-span:#CAAA7D;
$color-text-dark:#000000;






$content-width:1920px;
$laptop-width:1024px;
$tablet-width:768px;
$mobile-width:420px;




// Общий отступ слева
$margin-left:240px;

// Общий отступ справа
$margin-right:240px;

// Длина линий подчеркивания